* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #413e0e, #b6fbff, #7553da);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

